[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-magicweather
Exec=harbour-magicweather
Name=MagicWeather
# translation example:
# your app name in German locale (de)
Name[de]=MagicWeather

